
.contacts {
    background: #335;
    width: 160px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 160px 80px;
    border-radius: 45px;
}

.contactBlock {
    margin-left: 10px;
}